body {
  max-width: 1280px;
  max-height: 600px;
}

#name-form {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#name-form h2 {
  color: #fff;
}

#name-form input {
  padding: 15px;
}

#name-form input[type="submit"] {
  margin: 20px;
  border-radius: 10px;
}
